@charset "UTF-8";

/*************************
* Estilos generales
*************************/
html,
body {
	height: 98%;
  width: 98%;
  padding: 0;
  text-align: center;
}
.container {
	height: 98.5%;
  width: auto;
  margin: 0 auto;
}

body {
	background-color: #FFFFFF;
}

/*************************
* Estilos para los lados de la presentación
* Lado izquierdo o slides
* Lado derecho o menú lateral
*************************/
.slides {
	width: 740px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.text {
	width: 400px;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  display: inline-block;
	text-align: justify;
}

.text-background {
	height: 100%;
	z-index: -1;
	position: absolute;
	overflow: hidden;
}

.text-background img {
	height: 100%;
}

.text button {
	border: none;
  width: 100%;
  background-color: rgb(92, 154, 100);
  padding: 20px;
}

.subtitle {
	width: 100%;
  padding: 100px 7px;
}

/*************************
* Estilos para los distintos tipos
* de menú lateral usados
*************************/
#intro {
	display: none;
	margin-top: 50px;
}

#instruct {
	display: none;
	margin-top: 50px;
}

#instruct .signature {
	margin-bottom: 20px;
}

#instruct h2 {
	padding-left: 30px;
}

.instructions {
	padding: 10px 38px;
}

.paints {
	display: none;
	    padding-top: 30px;
}

.title {
	padding: 10px 15px;
  font-size: 30px;
}

.content {
	padding: 5px 25px;
}

.date {
	text-align: right;
}

.button-wrapper {
	width: 150px;
  float: right;
	margin-right: 20px;
}

.sitemap {
	width: 100%;
	padding: 25px 0px;
}
