@charset "UTF-8";

html,
body,
.container {
	height: 98.5%;
	width: 98.5%;
}

body {
	background-color: #FFFFFF;
}

.slides {
	width: 780px;
	height: 100%;
	float: left;
}

.text {
	width: 400px;
	height: 100%;
	float: left;
	padding-top: 75px;
}

.text button {
	border: none;
  width: 100%;
  background-color: rgb(92, 154, 100);
  padding: 20px;
}

.subtitle {
	width: 100%;
	padding: 119px 22px;
}

#instruct {
	display: none;
}

#instruct .signature {
	margin-bottom: 20px;
}

#instruct h2 {
	padding-left: 30px;
}

.instructions {
	padding: 10px 38px;
}

.paints {
	display: none;
}

.title {
	padding: 10px 15px;
  font-size: 30px;
}

.content {
	padding: 5px 25px;
}

.date {
	text-align: right;
}
